.agency_container{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;  
    
    /*width: 876px;*/
    width: 100%;
}
.presentation-holder{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center; 

    width: 276px;
    height: 574px;
    
    color: #fff; 
}
    .presentation{
        display: block;
        width: 276px;
        height: 276px;

        background-color: #8064a2;
    }
        .presentation > p{
            padding: 10px 23px 17px 17px;
        
            letter-spacing:0.5px;        
            line-height: 43px; 
            font-size: 26px;
        }
    .values-box{
        width: 276px;
        height: 276px;
        
        background-image: url(../images/sprites.png);
        background-position: 0px -380px;
    }
        .values-box > ul{
            display: block;
            margin: 0px;
            padding: 0px 8px 15px 19px;
            
            list-style-type: none;
            line-height: 69px; 
            font-size: 26px;
        }
            #value-ethics{
                letter-spacing: 26px;
            }    
            #value-originality{
                letter-spacing: 13px;
            }
            #value-consistency{
                letter-spacing: 15px;
            }
            #value-pragmatism{
                letter-spacing: 9.5px;
            }
.values-description{
    /*width: 576px;*/
    max-width: 576px;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    background-color: #ffffff; 
    
    line-height: 20px;    
}
.values-description dl {
    margin: 16px 0 14px;
}
.values-description dd {
    margin: 0 0 5px 0;
}


@media screen and (max-width: 924px) {
    .presentation-holder {
        width: 576px;
        height: auto;
		
		margin: 0px auto 24px auto;
    }
	.values-description{
		margin: 0 auto;
	}
    
}

@media screen and (max-width: 624px) {
    .presentation {
        margin-bottom: 24px;
    }
	.agency_container,
	.presentation-holder,
	.values-description{
		width: 276px;
	}
}
