#footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto 15px;
}
#address{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: flex-end;
    
    font-style: normal;font-size: 16px;
    letter-spacing: 0.5px;
}
    #homepage-link-footer,
    #site-email-footer
        {
        font-weight: bold;
    }
    #address > span:after,
    #homepage-link-footer > span:after,
    #postal-address > span:not(:nth-of-type(2)):after
        {
        font-weight: normal;
        content: "|";
        padding: 0px 2px 0px 7px; 
    }
    #address > span:nth-of-type(1):before {
        content: 't. ';
    }
    #address > span:nth-of-type(2):before {
        content: 'f. ';
    }
#postal-address{
    display: block;
}
#social-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    margin: 7px 0 0;
    padding:0;
    list-style: none;
}
#linkedin-icon{
    display: block; 
    width: 24px;
    height: 24px;
    background-image: url(../images/sprites.png);
    background-size: ;
    background-position: 0px 24px;
    margin-right: 7px;
}
#linkedin-icon:focus,
#linkedin-icon:hover {
    background-position: -24px 24px;
}
#facebook-icon{    
    display: block; 
    width: 24px;
    height: 24px;
    background-image: url(../images/sprites.png);
    background-size: ;
    background-position: -48px 24px;
}
#facebook-icon:focus,
#facebook-icon:hover {
    background-position: -72px 24px;
}
.social-icon {
    outline: 0px solid #ccc;
}
.social-icon:focus {
    outline-width: 2px;
}

@media screen and (max-width: 924px) and (min-width: 624px) {
    #address, #social-icons {
        width: 576px;
    }
    #footer {
        align-content: initial;
    }
}

@media screen and (min-width: 924px) {
    #address, #social-icons {
        width: 876px;
    }
}
