
#header { 
  width: 100%;  
  min-height: 149px;
  z-index: 1;
  
  background-color: #fff;
  box-shadow: 0 1px 14px #888;
}
  #header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;

    margin: 0 auto; 
    width: 876px;
    min-height: 204px;
  }
#logo {
  width: 276px;
  z-index: 2;
  padding-top: 42px;
  height: 179px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  #logo p {
    display: block;
    padding: 2px 0 0;

    color: #6d6e71;
    font-size: 24px;
    letter-spacing: .2px;
  }
#slogan-holder {
  position: relative;
  height: 128px;
  padding-top: 50px;
  -moz-box-sizing: border-box;  
  box-sizing: border-box;  

  color: #4d4d4d;
  letter-spacing: 7px;

  font-size: 35px;
}
#slogan-holder span {
  display: block;
  width: 430px;
}
#slogan-1 {
  font-family: 'eras demi', arial, sans-serif;
}
#slogan-2 {
  margin-top: -3px;
  text-align: right;
}
