.media-page {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.media-page > img {
  display: block;
  max-width: 426px;
  margin: 11px 12px;
}

.media-element {
  width: 276px;
  height: 276px;
  margin: 11px 12px 30px;
}
.media-element a:after {
  content: 'télécharger en HD';
  display: block;
  margin-top: -3px;
  letter-spacing: 1px;
}
.media-element img {
  max-width: 100%;
}

@media screen and (max-width: 924px) {
  .media-page > img {
    max-width: 100%;
  }
}
@media screen and (max-width: 924px) and (min-width: 625px) {

}
@media screen and (max-width: 624px) {

}
