
.philosophy-page {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
    
    min-height: 1077px;
	
    color: #fff;
}
.philosophy-page p {
    font-size: 19px;
    letter-spacing: 1px;
}
.konseptnu-desc,
.charity-percentage-desc,
.direct-help-desc {
	max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.konseptnu{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
    width: 426px;
    min-height: 779px;    
}
    .konseptnu-desc{
        min-height: 550px;
        
        background-color: #4d4d4d;
    }
    .konseptnu-desc > p{
        line-height: 31px;
    }
    .konseptnu-logo{
	display: block;
        background-image: url(../images/sprites_philosophie.png);
    
        width: 427px;
        height: 207px;        
    }
.charity-percentage{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
    
    width: 426px; 
    min-height: 779px;
}
    .charity-percentage-desc{
        min-height: 333px;
        
        background-color: #00b0a0;
    }
    .charity-percentage-desc > p{
        line-height: 35px;
    }
    .charity-percentage-kofc{
		display: block;
        background-image: url(../images/sprites_philosophie.png);
        background-position: 0px -207px;
        
        width: 426px;
        height: 426px;
    }
.direct-help{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
    width: 876px;
}
    .direct-help-desc{
        width: 576px;
        min-height: 276px;
        
        background-color: #00b0a0;
    }
    .direct-help-desc > p{
        line-height: 33px;
    }
    .direct-help-percentage{   
		display: block; 
        background-image: url(../images/sprites_philosophie.png);
        background-position: 0px -410px;
        background-size: 276px;
        
        width: 276px;
        height: 276px;
    }

@media screen and (max-width: 924px) {
    .philosophy-page {
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    .philosophy-page p {
        margin-bottom: 10px;
    }
    .direct-help {
        justify-content: center;        
    }
    .charity-percentage-desc {
		-webkit-order: 2;
        order: 2;
    }
    
    .konseptnu-desc, .konseptnu-logo, .charity-percentage-desc, .charity-percentage-kofc, .direct-help-percentage {
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 924px) and (min-width: 625px) {
    .konseptnu,
    .konseptnu-desc,
    .charity-percentage,
    .charity-percentage-desc,
	.direct-help,
	.charity-percentage-desc{
        width: 575px;
        min-height: initial;
    }
    .konseptnu-logo,
    .charity-percentage-kofc,
    .direct-help-percentage {
        background-size: 576px;
        
        width: 576px;
        height: 576px;
    }
    .konseptnu-logo {
        height: 280px;
    }
	.konseptnu-desc{
		width: 575px;
	}
    .charity-percentage-kofc {
        background-position: 0 -280px;
    }
    .direct-help-percentage {
        background-position: 0 -856px;
    }
}
@media screen and (max-width: 624px) {
    
    .konseptnu-logo {
        background-size: 100%;
        height: 133px;
    }
    
    .charity-percentage-kofc {
        background-position: 0px -132px;
        height: 277px;
        background-size: 100%;
    }
}
