.references_content {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
    
    width: 876px;
    min-height: 574px;
    
    color: #fff;
}
    .references-intro{
        width: 276px;
        height: 574px;
        
        background-color: #8064a2;
        
        line-height: 37px;
        font-size: 26px;
        letter-spacing: 1px;
    }
    .references-intro > p{
        padding: 11px 15px 0px 15px;
    }
    .central_column{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		
		-webkit-flex-flow: column wrap;
		-moz-flex-flow: column wrap;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;

		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		
		-webkit-align-content: space-around;
		-moz-align-content: space-around;
		-ms-align-content: space-around;
		align-content: space-around;
        
        width: 276px;
        height: 574px;
    }
        #visual-konsept{
            width: 276px;
            height: 276px;

            background-image: url(../images/sprites.jpg);
            background-position: 0px -552px;
            background-size: 276px 828px;
        }
        .references-contact-us{
            display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			
			-webkit-flex-flow: row wrap;
			-moz-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;

			
            -webkit-justify-content: center;
			-moz-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			
            -webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			align-items: center;
            
            width: 276px;
            height: 276px;
            
            background-color: #4d4d4d;
            
            font-size: 32px;
            
            outline: 0px solid #ccc;
            transition: .05s outline-width linear;
        }
        .references-contact-us:hover,
        .references-contact-us:focus {
            outline-width: 3px;
            transition: .05s outline-width linear;
        }
    .areas-of-activity{
        width: 276px;
        height: 574px;
        padding: 10px 16px 0px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        background-color: #8064a2;
    }
    .areas-of-activity h2 {
        margin: 0;
    }
    #areas-of-activity-list{
        margin: 0;
        padding: 0;
        
        font-size: 23px;
        text-decoration: none;
        list-style: none; 
        line-height: 36px;
        letter-spacing: 1px;
    }
    #areas-of-activity-list > li{
        margin-left: 12px;
    }
    #areas-of-activity-list > li:before{
        content: "›";
        position: absolute;
        margin-left: -12px;
    }
    
@media screen and (min-width: 625px) and (max-width: 918px) {
    .references_content{
		width: 574px;
		margin: 22px auto 0px auto;
	}
	.references-intro {
        width: 574px;
        height: 276px;
        margin-bottom: 22px;
        line-height: 42px;
    }
}

@media screen and (max-width: 624px) {
    .references-intro,
    .central_column{
        margin-bottom: 24px;
    }
	.references_content{
		width: 276px;
	}
}
