
@media screen and (max-width: 924px) {
  #header-inner,
  #main {
    width: 600px;
  }
  #footer,
  #address {
    width: 626px;
  }
  #slogan-holder {
    padding: 20px 0;
  }
  #header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    
    justify-content: center;
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
    
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
  }
  
  .homepage-links-holder {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
    
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    
    width: 600px;
  }
  .welcome-link{
    margin: 24px 0px 0px 0px; 
  }
}

@media screen and (max-width: 624px) {
  #header-inner {
    width: 276px;
  }
  .homepage-links-holder,
  #main {
    width: 300px;
  }
  #footer,
  #address {
    width: 276px;
  }
  #slogan-holder span {
    width: auto;
  }
  #slogan-2 {
    margin-top: -37px;
    line-height: 37px;
  }
  .agency-link, 
  .welcome-link,
  .services-link {
    margin-bottom: 24px;
  }
  #social-icons > li {
    margin: 7px;
  }
  .welcome-link{
    margin: 0px 0px 24px 0px; 
  }
}
