/***

prestations

***/
.prestations_contatiner{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
    
    width: 876px;
    min-height: 536px;
}
#services-list-holder{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;

    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 876px;
    min-height: 112px;
}
.service{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
    -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	
    -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
    
    width: 112px;
    height: 112px;
    
    color: white;
    font-size: 24px;
    text-align: center;
    
    outline: 0px solid #ccc;
    transition: .05s outline-width linear;
}
.service:hover,
.service:focus {
    outline-width: 3px;
    transition: .05s outline-width linear;
}
.service-comm{
    background-color: #8064a2;
}
.service-event{
    background-color: #c95a99;
}
.service-marketing{
    background-color: #c00000;
}
.service-advertizing{
    background-color: #e2901a;
}
.service-design{
    background-color: #9bbb59;
}
.service-pr{
    background-color: #00b0a0;
}
.service-internet{
    background-color: #0070c0;
}
.services-intro{
    width: 100%;
    padding: 7px 10px 0px 16px;
    
    background-color: #4d4d4d; 

    color: white;
    font-size: 26px; 
    line-height: 40px; 
}
.services-intro > p:first-of-type{
    padding-bottom: 30px;
}
.services-intro > p:nth-of-type(2) {
    padding-bottom: 5px;
}

.prestations_contatiner {
    /*align-content: initial;*/
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
    .services-intro > p{
        /*font-size: 26px;*/
    }
}

@media screen and (min-width: 924px) {
    #services-list-holder {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 924px) and (min-width: 625px) {

    #services-list-holder {
        -moz-justify-content: flex-start;
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
		
		width:575px ;
    }
    #services-list-holder li {
        margin: 0 24px 22px 0;
    }
	#main{
	}
	.prestations_contatiner{
		width: 575px;
		margin: 0px auto 0px auto;
		-ms-justify-content: center;		
		-ms-align-content: center;
		-ms-align-items: center;
	}
	.services-intro{
		width: 565px;
	}/* 
	.service{
		width: 112px;
	} */
}


@media screen and (max-width: 624px) {
    
	.prestations_contatiner{
		width: 276px;
	}
    #services-list-holder {
	/*  -moz-justify-content: space-around;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around; */
		
    }
	.services-intro{
		width: 276px;
	}
    #services-list-holder li {
        margin-bottom: 24px;
    }
}
