
@font-face {
  font-family: 'eras light';
  src: url(../fonts/eraslght.otf);
}
@font-face {
  font-family: 'eras demi';
  src: url(../fonts/erasdemi.otf);
}

html {
  overflow-y: scroll;
}
body {
  background-color: #f2f2f2;
  color: #4d4d4d;
  font-family: "eras light";
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
dt {
  min-height: 28px;
  margin: 16px 0 0;
  font-family: "eras demi", arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 3.5px;
}
dt {
  margin: 16px 0 -4px 0;
}
p {
  margin: 0;
  padding: 0;
}

#main{
  margin: 11px auto 0;
  width: 900px;
}

.not-found {
  margin: 22px 12px 11px;
  padding: 20px;
  background: #fff;
  font-size: 22px;
}
.not-found > p:first-of-type {
  margin-bottom: 10px;
}
.goto-home-404 {
  font-weight: bold;
}
